body {
    background-color: rgba(0, 0, 0, 0.86);
    font-size: 14px;
    color: rgb(139, 138, 142);
    font-family: sans-serif;
}

h1 { 
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(88, 87, 90);
    font-size: 40px;
}

h2 { 
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: rgb(139, 138, 142);
    padding: 24px;
}

.snippet {
    font-family: monospace;
    background-color: rgb(93, 92, 97);
    color: rgb(233, 223, 41);
    border-radius: 4px;
    padding: 0 6px;
    font-size: 13px;
}

table {
    min-width: 1300px;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

thead {
    border: 1px solid rgb(114, 112, 117);
}

th {
    background-color: rgb(105, 107, 107);
    color: rgb(18, 18, 18);
    padding: 16px;
    font-weight: bold;
    text-align: left;
    /*border-bottom: 1px solid rgb(114, 112, 117);
    border-left: 1px solid rgb(114, 112, 117);
    border-top: 1px solid rgb(114, 112, 117); */
    font-size: 18px;
}

td {
    padding: 10px;
    border: 1px solid rgb(114, 112, 117);
    /* border-bottom: 1px solid rgb(114, 112, 117);
    border-left: 1px solid rgb(114, 112, 117);
    border-top: 1px solid rgb(114, 112, 117); */
}